In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
from scipy import stats

In [2]:
cutlet=pd.read_csv("C:\\Users\\prasa\\Downloads\\Cutlets.csv")
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
unitA=pd.Series(cutlet.iloc[:,0])
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [4]:
unitB=pd.Series(cutlet.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

#### 2-sample 2-tail ttest

In [5]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47223947245995)

### P-Value is greater is Î± which is 0.05. So we can't reject the Null Hypothesis.

### There is no significant difference in the diameter of the cutlet between two units.